(
    stage: (
        subjects: [
            (
                id: Entity("181e4485-eabb-47b6-8a51-65f2f32ca73f"),
                state: "3ab91806-b4db-4c34-a664-f6362bf7f43f",
            ),
        ],
    ),
    animation: (
        combinator: Chain,
        children: [
            Action(
                action: (
                    subject: Entity("181e4485-eabb-47b6-8a51-65f2f32ca73f"),
                    field: (
                        type_name: "bevy_transform::components::transform::Transform",
                        path: "::translation",
                    ),
                    op: To,
                    value: "3ab91806-b4db-4c34-a664-f6362bf7f43f",
                    duration: Ms(1000),
                    ease: Some(CubicEaseInOut),
                    interp: Some(Linear),
                ),
            ),
        ],
    ),
    values: (
        vec3: {
            "3ab91806-b4db-4c34-a664-f6362bf7f43f": (6.0, 0.0, 0.0),
        },
    ),
)
