(
    stage: (
        subjects: [
            (
                id: "181e4485-eabb-47b6-8a51-65f2f32ca73f",
                state: (
                    index: 0,
                    generation: 0,
                ),
            ),
        ],
    ),
    animation: (
        combinator: Chain,
        children: [
            Action((
                subject: "181e4485-eabb-47b6-8a51-65f2f32ca73f",
                field: (
                    type_name: "bevy_transform::components::transform::Transform",
                    path: "::translation",
                ),
                op: To,
                value: (
                    index: 0,
                    generation: 0,
                ),
                duration: Ms(1000),
                ease: Some(CubicEaseInOut),
                interp: Some(Linear),
            )),
        ],
    ),
    values: (
        vec3: (
            buffer: [
                Some((6.0, 0.0, 0.0)),
            ],
            generations: [
                0,
            ],
        ),
    ),
)
